@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
// font-family: 'Graduate', cursive;
// font-family: 'Baloo 2', cursive;

$primaryColor:black;
$secondaryColor: white;
$tertiary: grey;
$primaryFont: 'Baloo 2', cursive;
$secondaryFont: 'Graduate', cursive;